__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.idea/
.DS_Store
*.swp
*.swo
training_data/
preprocessing_output/
logs/
inference_folder/model_output/
models/*.pth
models/*.pkl
test_prog
ci_test_output/
*.spec
build/
dist/
*.egg-info/